<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% post_images.each do |post_image| %>
      <tr>
        <td><%= link_to user_path(post_image.user) do %>
          <%= image_tag post_image.user.get_profile_image(100,100) %>
          <% end %>
        </td>
        <td><%= link_to post_image.title, post_image_path(post_image.id) %></td>
        <td><%= post_image.body %></td>
<!--いいねの部分テンプレート-->
        <!--<td class="favorite-btn">-->
        <!--　%= render "favorites/favorite-btn", book: book %>-->
        <!--</td>-->
<!--ここまで-->
    <td>コメント数：<%= post_image.post_comments.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>