<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg bg-light rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">画像投稿フォーム</h5>
      <div class="form-body p-4">
 <h4>※ゲストログイン時は投稿できません</h4>
<%= form_with model: @post_image do |f| %>
  <%= f.file_field :image, accept: "image/*", class: "w-100"  %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-image"></i></span>
            </div>
  <%= f.text_field :title , class: "form-control", placeholder: "画像タイトル" %>
  </div>
  <!--郵便番号の入力フォーム-->
      <div class="input-group mb-3 mt-4">
      <div class="input-group-prepend">
        <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-tenge-sign"></i></span>
      </div>
      <%= text_field_tag :zipcode, nil, class: "form-control", placeholder: "郵便番号" %>
    </div>
  <!--住所の入力フォーム-->
        <div class="input-group mb-3 mt-4">
      <div class="input-group-prepend">
        <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-location-dot"></i></span>
      </div>
      <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
    </div>

  <%= f.text_area :body, class: "form-control", rows: "3", placeholder: "説明文" %>
   <hr>
          <%= f.submit '投稿', class: "btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
</div>
</div>
</div>
</div>
<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>