<div class="card-container">
  <div class="row">
    <div class="card w-50 mx-auto mt-4  p-4 shadow-lg md-4">
      <%= link_to @post_image.get_image, "data-lightbox": @post_image.get_image do %>
        <%= image_tag @post_image.get_image, class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-10">
            <p class="card-title">
              <strong><i class="fa-solid fa-image"></i>  <%= @post_image.title %></p></strong>
            <p class="card-text">
              <i class="fa-solid fa-pen-fancy"></i>  <%= @post_image.body %></p>

            <p class="card-title">
              <span><%= image_tag @post_image.user.get_profile_image(30,30), class: "img-fluid rounded-circle" %><%= @post_image.user.name %> ｜ <span>
              <span><i class="fa-solid fa-calendar-days"></i><%= @post_image.created_at.strftime('%Y/%m/%d') %> ｜ </span>

              <% if user_signed_in? %><!--ログインしてないといいねコメントできない記述-->
                <span id="favorite-btn-<%= @post_image.id %>">
                <%= render "public/favorites/favorite-btn", post_image: @post_image %></span>
                <span> ｜ <i class="fa-solid fa-message"></i> <%= @post_image.post_comments.count %></span>
              <% end %>
                <p><%= link_to "この投稿を削除する", admin_post_image_path(@post_image), class:"text-dark", method: :delete %></p>
          </div>
        </div>
        <hr>
        <div class="comments card-text">
          <h5>コメント一覧</h5>
          <div class="col-10">
            <% @post_image.post_comments.each do |post_comment| %>
              <div class="media border mb-3">
                <p><%= image_tag post_comment.user.get_profile_image(50,50) %>
                <div class="media-body ml-4 p-3">
                  <p><%= post_comment.user.name %></p>
                  <p><%= post_comment.comment %></p>
                  <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
                    <%= button_to "コメントを削除",  admin_post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, class: "btn btn-danger pull-right"  %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>