<!DOCTYPE html>
<html>
  <head>
    <title>Contsuri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script src="https://kit.fontawesome.com/61de06ea52.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

  </head>

  <body class="d-flex flex-column vh-100"style="background-color: #FFCC99;">
      <!--ヘッダー部分-->
  　　<div><%= render 'layouts/header' %></div>

  <h3 class='text-light bg-success mx-auto'><%= flash[:notice] %></h3>
  <h3 class='text-light bg-danger mx-auto'><%= flash[:alert] %></h3>
    <%= yield %>
      <%= render "layouts/footer" %>
      <!--7/25にAPI地図の自動入力をする記述-->
      <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
